<header><%= render "shared/header" %>
</header>
<body>
<section class="tweet-wrapper">
    <div class="container">
        <div class="content">
            <div class="heading"><span class ="pen">Farming</span></div>
            <div class="list">
            <div class="list-item">
                <span class ="pen">農業に携わる方のための 日々の成果と手助けを</span>
            </div>
        </div>
    </div>
</section>

<ul class="timeline">
  <li class="v">
      <p class="day">2020.10.10</p>
      <h5>稲刈り</h5>
     <%= image_tag "ine.jpg",class:"item-box-img" %>
      <p></p>
      <p></p>
      <p></p>
  
  
      <p>晴天に恵まれ<br>稲刈りをしました</p>

      <p></p>
      <p></p>
  </li>
</ul>  

