<header><%= render "shared/header" %>
</header>
<body>
<section class="wrapper">
    <div class="container">
        <div class="content">
            <div class="heading"><span class ="pen">Farming</span></div>
            <div class="list">
            <div class="list-item">
                <span class ="pen">農業に携わる方のための 日々の成果と手助けを</span>
            </div>
        </div>
    </div>
</section>

<ul class="timeline">
  <li class="timeline-event">
      <p class="day">April 2011 - heute日にち</p>
      <h3>タイトル</h3>
      image
      <h4>本文</h4>
      <p>こんにちは</strong><br>いい天気ですね</p>
      <p><strong>Projektmanagement mit Scrum</strong><br>Ständiges Verbessern des agilen Entwicklungsprozesses beispielsweise durch Grunt, Yeoman, GIT, JIRA und BrowserStack.</p>
    </div>
  </li>
</ul>  

</body>