<div class="header">
   <%# <div class="header" >
   Farming
   </div> %>
  
  

  <ul class= "header_lists">
<li class="header_list">Farming</li>
<li class="header_list">ニックネーム</li>
  <li class="header_list"> 投稿する</li>
  <li class="header_list">ログイン新規</li>

<li class="header_list">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<form method="get" action="#" class="search_container">
  <input type="text" size="25" placeholder="　キーワード検索">
  <input type="submit" value="&#xf002">
</form>
 </li>
  
  </ul>
  

</div>